.dragdrop-carousel {
  display: flex;
  grid-gap: 1.25rem;
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-right: 1rem;
}

.dragdrop-carousel::-webkit-scrollbar {
  display: none;
}

.dragdrop-carousel .carousel-item {
  color: var(--white);
  scroll-snap-align: start;
  user-select: none;
}

/* Disable smooth scrolling during drag */
.dragdrop-carousel .carousel-item.grab {
  scroll-behavior: auto;
}

/* Hide scrollbar */
.dragdrop-carousel .carousel-item::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1250px) {
  .dragdrop-carousel .carousel-item:last-child .testimonial-container {
    min-width: 33.1875rem;
  }
}
