@import "Loader";
@import "DragDropCarousel";
@import "TestimonialCard";
@import "NotificationCard";
@import "Dropdown";
@import "MinimalButton";
@import "Login";
@import "ShowCase";
@import "PreviewContainer";
@import "WhaleActivityPreview";
@import "InfiniteCarousel";

:root {
  --white: #fff;
  --grey-900: #19191a;
  --grey-400: #96979a;
  --grey-100: #e5e5e6;
  --text-5: #1d2129;
  --blue: #0071e3;
  --grey-50: rgba(229, 229, 230, 0.5);
  --neutral-300: #d4d4d4;
  --border-radius-large: 0.8rem;
  --border-radius: 0.525rem;
  --border-radius-small: 0.2625rem;
  --opacity-disabled: 0.5;
  --line-height: 120%;
  --card-shadow: 0px 0.7px 0.7px 0px rgba(0, 0, 0, 0.04), 0px 2.8px 7px 0px rgba(0, 0, 0, 0.04);
  --active-card-bg: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 27.5%, rgba(22, 93, 255, 0.16) 157.71%), #fff;
  --login-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
  --input-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
  --showcase-bg: radial-gradient(
    circle at bottom left,
    rgba(29, 141, 18, 1) 25%,
    rgba(47, 21, 208, 1) 68%,
    rgba(9, 9, 49, 0.851) 75%
  );
  --notification-indent-shadow:linear-gradient(
    90deg,
    rgba(108, 108, 108, 0.7581626400560224) 12%,
    rgba(255, 255, 255, 0.007462359943977592) 25%,
    rgba(219, 219, 219, 0) 61%,
    rgba(113, 113, 113, 0.49205619747899154) 74%,
    rgba(78, 78, 78, 0.8449973739495799) 88%
  );
}

h3 {
  font-size: 2.4375rem;
  font-weight: 500;
  color: var(--grey-300, #b0b1b3);
  line-height: var(--line-height);
}

h4 {
  font-size: 1.9375rem;
  font-weight: 500;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--grey-900);
  line-height: var(--line-height);
}

h6 {
  font-size: 0.8125rem;
  font-weight: 500;
  margin: 0;
  color: var(--grey-400);
  line-height: var(--line-height);
}

p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--grey-900);
  line-height: var(--line-height);
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100vh;
}

.hr {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  height: 1px;
  background-color: rgba(229, 229, 230, 0.5);
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.justifyContent-spaceBetween {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}

.hcenter {
  justify-content: center;
}

.vcenter {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

input,
textarea {
  width: 100%;
  display: flex;
  height: 2.1875rem;
  border: 0.7px solid var(--neutral-300, #d4d4d4);
  border-radius: 0.35rem;
  flex-shrink: 0;
  align-items: center;
  background: var(--white);
  margin: 0;
  text-align: left;
  color: var(--grey-900);
  padding: 0.525rem 0.7rem;
  text-decoration: none;
  outline: none;
}

input:hover,
textarea:hover {
  border-color: var(--grey-400);
}

input:focus,
textarea:focus {
  border-color: var(--grey-400);
  outline: none;
}

input[type="checkbox"] {
  height: 0.875rem;
  width: 0.875rem;
  appearance: none;
  aspect-ratio: 1;
  border-radius: var(--border-radius-small);
  background: var(--grey-50);
  padding: 0;
  border-color: var(--neutral-300);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  appearance: none;
  overflow: hidden;
  background: var(--blue);
  background-image: url("https://res.cloudinary.com/uploadfiles/image/upload/v1698749470/loch/gpdbhllsskycc24r2jlz.svg");
  background-size: 0.4375rem 0.4156rem;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: var(--border-radius-small);
}
input[type="checkbox"]:hover {
  border-color: var(--neutral-300);
}

input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey-200, #cacbcc);
  line-height: var(--line-height);
}

.button,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.125rem 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-900, #19191a);
  background: var(--grey-900, #19191a);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  line-height: var(--line-height);
}
.button:hover,
button:hover {
  border: 1px solid var(--grey-900, #19191a);
  cursor: pointer;
}
.disable,
.button:disabled,
.button:disabled:hover,
button:disabled,
button:disabled:hover {
  background-color: var(--grey-900);
  color: var(--white);
  opacity: var(--opacity-disabled);
}
