.infiniteCarousel-container {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: 0.875rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-bottom: 0;
  border-top-left-radius: 0.525rem;
  border-bottom-left-radius: 0.525rem;
}

.infiniteCarousel-container::-webkit-scrollbar {
  display: none;
}

.infiniteCarousel-container .card {
  scroll-snap-align: start;
}

.infiniteCarousel-container .card:nth-child(1) .notification-container {
  background: var(--active-card-bg);
}

/* .infiniteCarousel-container .card:nth-child(odd) .notification-container {
  background: linear-gradient(90deg, rgba(119, 119, 119, 1) 0%, rgba(244, 244, 247, 1) 31%);
}
.infiniteCarousel-container .card:nth-child(even) .notification-container {
  background: linear-gradient(90deg, rgba(244, 244, 247, 1) 31%, rgba(102, 101, 101, 1) 73%);
} */
