.whaleActivityPreview-container .skeleton,
.whaleActivityPreview-container img {
  border-radius: 0.75rem;
  border: 1.5px solid rgba(255, 255, 255, 0.68);
  box-shadow: var(--login-shadow);
}

.whaleActivityPreview-container img {
  width: 100%;
  height: 100%;
}
